
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ__lJDLuWz0V6K2HzgZdFuHhNTF-kFnXAXis60EfTeTwfqrRJYw" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About Us</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Log In</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact Us</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Help</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://i.dailymail.co.uk/i/newpix/2018/09/07/08/4FD1F62300000578-6142193-image-m-9_1536304932759.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OQkApXcTwaNrK5rAx2UpTVoFNMHgwDMlJ0dkM6r0werWNNEd');">
  <div class="banner-content">
    <h1>Test your limits now </h1>
    <p>whatever fits well here will be here</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://mk0runwaygirl0t0gjwt.kinstacdn.com/wp-content/uploads/2016/08/Global-Express-800x415.jpg');">
        <div class="card-category">Recent</div>
        <div class="card-description">2 seats left!</div>
        <a class="card-link" href="#" ></a>
      </div>
      <p>The Fk-232 is a made-in-2016 seven seats incredibly well designed private jet, full-option and high-technology, French Service. </p>
    </div>


















    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>


