<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ__lJDLuWz0V6K2HzgZdFuHhNTF-kFnXAXis60EfTeTwfqrRJYw" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About Us</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Log In</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact Us</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Help</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://i.dailymail.co.uk/i/newpix/2018/09/07/08/4FD1F62300000578-6142193-image-m-9_1536304932759.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <video id="banner_video" src="<%= image_path 'banner_video' %>" type="video/mp4" autoplay loop muted >
  </video>
  <div class="banner_button">
    <h1>Amine and Alex were here</h1>
    <p>They will be missed.</p>
    <button class="btn-primary">Click Me</button>
  </div>
  <div class="banner-content">
    <h1>Luxury Jets</h1>
  </div>
</div>
  <div id="trump">
  <div class="container">
    <div class="row">
      <% @jets.each do |jet| %>
        <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://mk0runwaygirl0t0gjwt.kinstacdn.com/wp-content/uploads/2016/08/Global-Express-800x415.jpg');">
          <div class="card-category">Recent</div>
          <div class="card-description">2 seats left!</div>
          <a class="card-link" href="#" ></a>
        </div>
          <p> <%= jet.name %> with <%= jet.seats %> seats starting at $<%= jet.price_hour %> </p>
          <p><i class="fas fa-star"> 85%</i></p>
          <p>Deal: $1,250</p>
          <p></p>
          <p></p>
         </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



