
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
      </div>
        <h3>Name: <%= @jet.name %></h3>
        <h3>Model: <%= @jet.model %></h3>
        <p>Price: <%= @jet.price_hour %> <em>per hour</em></p>
    </div>
  </div>
  <div class="btn btn-danger">Request To Book</div>
</div>


