.main-container {
  display: flex;
}

.jet-card {
  height: 300px;
  border:1px solid;
  margin: 10px;
}

.bottom {
  position: relative;
  height: 80px;
}

.stars {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.right {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0px !important;
}
