.card {
  height: 300px;
  width: 500px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  border-radius:10px;
  border: 1px solid;
  box-shadow: 0.4px 0.4px;
  position: relative;
}

.row {
  align-items: center;
}

.yellow {
  color: #CABD65;
}

.container{
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.link  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row_form{
  text-align: center;
}
