.card {
  height: 300px;
  width: 500px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  border-radius:3px;
  border: 1px solid;
  box-shadow: 0.4px 0.4px;
  position: relative;
}

.row {
  align-items: center;
}

.yellow {
  color: #CABD65;
  font-size: 10px;
}

.container{
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.link  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row_form{
  text-align: center;
}

.index-card {
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
}
.index-card-image {
  border-radius: 3px;
}

.index-card-text {
  h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  h6 {
    margin: 0;
  }
  p {
    font-size: 12px;
  }
}

.star-holder {
  margin-top: -7px;
}
